/*section of animals*/
.banner {
    display: flex;
    width: 80%;
    height: 600px;
    overflow: hidden;
    position: relative;
    
}

.sladers {
    display: flex;
    width: 50%;
    height: 100%;
    animation: move 12s infinite;
    
    
}

.slide {
    width: 100%;
    flex-shrink: 0;
    
}

.slide img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

@keyframes move {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(0); }

    40%  { transform: translateX(-100%); }
    66%  { transform: translateX(-100%); }

    73%  { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}


