/*section portafolio*/

html, body {
    margin: 0;
    padding: 0;
}

.titleName {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;  
    margin-left: 50px; 
    margin-top: 120px;
}



.aboutMe{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.aboutMe img {
    width: 30%;
}

.proyect {
    display: flex;
    padding-left: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.aboutMe,
.proyect {
    
    background: #f5f5f5;   /* color suave para que se note */
    padding: 15px;
    border-radius: 15px;   /* aquí está la magia */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* opcional, pero queda elegante */
    height: 120%;

}





.footerIndex {
    display: flex;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20%;
    background-color: rgb(39, 39, 51);
}

.contact h1 {
    color: aliceblue;
}


    

.iconPort {
    display: flex;
    gap: 20px;      
    justify-content: center;
}

.iconPort a {
    display: flex;               
    justify-content: center;
    align-items: center;
    color: #f5f3f3;                 
    font-size: 40px; 
    text-decoration: none;
}


