
body{
    display: flex;
    justify-content: center;
}

body h2, h4{
    margin-bottom: 0%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 2%;
    border-radius: 2%;
    background-color: rgb(226, 221, 221);
    
}

.experience {
    width: 100%;
    margin: 0%;
}

.notify p{
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.notifyText {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
}

.red{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 100%;
    gap: 10px;
}



.formGroup{
    display: flex;
    width: 100%;
    flex-direction: column;  
    gap: 7px;
}


.formGroup input{
    height: 20px;
}

.formGroup-colum select{
    display: flex;
    width: 100%;
    height: 30px;
}



.suggestions{
    display: flex;
    flex-direction: column;
}


