body{
    padding: 20px 40px;
}

header{
    background-color: #FADCD9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 60px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.name{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;

}

.name span{
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
}

.contLinks{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: auto;
}

.contLinks a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: 16PX;
    letter-spacing: 0%;
}

.content{
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
    gap: 20px;
}


.slogan-intro{
    display: grid;
    gap: 20px;
}

.conText{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}


.text{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FADCD9;
    height: 100%;
    
}

.imgSlogan{
    display:flex ;
    width: 100%;
    height: 40%;
    justify-content: end;
}

.imgSlogan img {
    display: flex;
    width: 119px;
    height: 119px;
    padding: 40px;

}

.textSlogan{
    margin-top: 10%;

}

.textSlogan p {
    display: flex;
    margin: 0%;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 95%;
    letter-spacing: 0%;
    padding: 0% 8%;
    
    
}

.textSlogan span{
    font-family: 'Gilroy', sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 56px;
    margin-right: 15px;
}


.PersonalImg{
    border-radius: 10px;
    width: 100%;
    background-color: #FADCD9;
}

.imgP{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contAbout{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}

.about{
    display: grid;
    background-color: #FADCD9;
    border-radius: 10px;
}

.about img{
    width: 48px;
    height: 48px;
    padding: 8%;
}

.about p{
    width: 296px;
    padding: 5% 0% 5% 8%;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7% 5%;
    background-color: #F8AFA6;
    border-radius: 10px;
}

.contImg img{
    display: flex;
    width: 100%;
    align-items: center;
}

.contP p{
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 55px;
    line-height: 100%;
    margin-bottom: 5%;
}

.contWork{
    display: grid;
    grid-template-rows: 5fr 1fr;
    gap: 20px;
    border-radius: 10px;
    
}


.contWork p{
    background-color: #FADCD9;
    margin: 0%;
}

.work{
    border-radius: 10px;
    padding: 5% 10%;
    background-color: #FADCD9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.work h2 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
}

.workItemEnd h2{
    margin-bottom: 0%;
}

.item1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item1 img{
    width: 26px;
    height: 26px;
    top: 36px;
    left: 397px;
}

.workImg{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}



.border{
    padding: 5% 0%;
    border-radius: 2px;
}


.socials{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FADCD9;
    border-radius: 10px;
}

.socials a{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;

    
}
