.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;           
    margin-top: 2%
}

.sladers {
    display: flex;
    width: 100%;
    height: 100%;
    animation: move 15s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@keyframes move {
    0%   { transform: translateX(0); }          
    16%  { transform: translateX(0); }

    20%  { transform: translateX(-100%); }     
    36%  { transform: translateX(-100%); }

    40%  { transform: translateX(-200%); }     
    56%  { transform: translateX(-200%); }

    60%  { transform: translateX(-300%); }      
    76%  { transform: translateX(-300%); }

    80%  { transform: translateX(-400%); }      
    96%  { transform: translateX(-400%); }

    100% { transform: translateX(0); }          
}